.content {
    margin-top: 60px;
    // padding-left: 350px;
    padding-right: 2%;
    transition: 200ms;
    // margin-left: 380px;
    /* padding-top: 10px; */
    /* height: calc(89vh - 10px); */
    /* overflow-y: auto; */
  }
  
  /* main {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    height: calc(89vh - 10px);
    overflow-y: auto;
  } */
  